# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load data

In [2]:
df = pd.read_csv('CRIME1.raw', sep='\s+', header= None )
df = df.rename(columns={0:'narr86',
                       1:'nfarr86',
                      2:'nparr86',
                      3:'pcnv',
                      4:'avgsen',
                      5:'tottime',
                      6:'ptime86',
                      7:'qemp86',
                      8:'inc86',
                      9:'durat',
                      10:'black',
                      11:'hispan',
                      12:'born60',
                      13:'pcnvsq',
                      14:'pt86sq',
                      15:'inc86^2'})
df.head()

,narr86,nfarr86,nparr86,pcnv,avgsen,tottime,ptime86,qemp86,inc86,durat,black,hispan,born60,pcnvsq,pt86sq,inc86^2
0,0,0,0,0.38,17.6,35.2,12,0.0,0.0,0.0,0,0,1,0.1444,144,0.00000
1,2,2,0,0.44,0.0,0.0,0,1.0,0.8,0.0,0,1,0,0.1936,0,0.64000
2,1,1,0,0.33,22.8,22.8,0,0.0,0.0,11.0,1,0,1,0.1089,0,0.00000
3,2,2,1,0.25,0.0,0.0,5,2.0,8.8,0.0,0,1,1,0.0625,25,77.44000
4,1,1,0,0.00,0.0,0.0,0,2.0,8.1,1.0,0,0,0,0.0000,0,65.61001